html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(92, 92, 92, 0.796), rgba(0, 0, 0, 0))
}
.miniHeadAndFoot {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
}
.langBigBlock {
    position: absolute;
    top: 10px;
    right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.langMediumBlock {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.langSmallBlock {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding-top: 3px;
    cursor: pointer;
}
#arrowLang {
    width: 20px;
    cursor: pointer;
}

/* main */
#main {
    width: 100%;
    height: 100%;
    background-image: url(../media/classic.jpeg);
    background-size: cover;

}
#main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 2;
}
#shadowMain {
    width: 100%;
    position: relative;
    z-index: 99;
}
.miniMain {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
    height: 80%;
}
h1 {
    position: relative;
    z-index: 3;
    margin: 0 0 50px 0;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    color: white;
}

#btnOpenForm {
    font-size: 20px;
    font-weight: 300;
    background-color: #3498db;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    width: 300px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 3;
    left: calc(50% - 150px);
    border: #fbfbfb solid 4px;;
}
#btnOpenForm:hover {
    color: #0493bd;
    background-color: white;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(92, 92, 92, 0.796), rgba(0, 0, 0, 0))
}
.foot {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: white;
}

/* block form and form */
#titleForm {
    color: white;
    text-align: center;
}
#formBlock {
    display: none;
    width: 400px;
    height: 500px;
    
    border-radius: 20px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 200px);
    z-index: 100;
    /* box-shadow: 0 0 10px 10px gray; */
}
#closeFormBlock {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#closeFormBlock img {
    width: 20px;
    height: 20px;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
    
	/* float:left; */
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
  border-radius: 10px;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	/* background-image: url(http://rexkirby.com/kirbyandson/images/name.svg); */
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	/* background-image: url(http://rexkirby.com/kirbyandson/images/name.svg); */
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	/* background-image: url(http://rexkirby.com/kirbyandson/images/email.svg); */
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	/* background-image: url(http://rexkirby.com/kirbyandson/images/email.svg); */
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    border-radius: 10px;
}

#button-blue:hover{
	background-color: white;
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

